{% extends "HealthCentre/layout.html" %}



{% block title %}
IITJ Health Centre
{% endblock%}


{% block bodytag %}
  {% load static %}
  <body background="{% static 'HealthCentre/images/jdh3.jpg' %}" style="background-size: 100% auto;">
{% endblock %}

{% block body %}
    <br>
    <br>
    <h1 style="text-align:center;color:white" class = "display-3">
      LOGIN
    </h1>
    <br><br><br>
    <div class="container center_div" align ="center" width="300px">
      <form align="center" action="{% url 'login' %}" method="post">
        {% csrf_token %}
      <br>
      <div class="form-row">
        <div class="col-12">
          <input name="useremail" type="email" class="form-control" placeholder="Email Address">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-12">
          <input name="userpassword" type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-warning btn-lg" >Login</button>
    </form>
    </div>
    <br>
    {% if message %}
      <div style="text-align:center;margin:0 auto;"class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <br>
    {% if isAuthenticated %}
      <div style="text-align:center;margin:0 auto;"class="alert alert-warning" role="alert">
        {{ user }}
      </div>
    {% endif %}



{% endblock %}
