{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>IITJ Health Centre</title>
    <style>
    .carousel-item{
        height: 500px;
      }
    .carousel-item img{
        height: 500px;
      }
    </style>

  </head>
  <body background="{% static 'HealthCentre/images/jdh8.jpg' %}" style="background-size: 100% auto;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><h1 style="color:grey;text-align:center">IIT Jodhpur Health Centre</h1></a>
      <img src="{% static 'HealthCentre/images/jdh10.png' %}" style="width:5%;height:5%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Medicine Store</a>
              <a class="dropdown-item" href="/doctors">Doctors</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Contact Us</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Online Prescription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emergency"><span style="background-color:red" class="badge badge-secondary">EMERGENCY</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <br>
    <h1 style="text-align:center;color:white" class = "display-4">
      REGISTRATION DETAILS
    </h1>
    <br><br><br>
    <div class="container center_div" align ="center" width="300px">
      <form align="center">
        <div class="form-row ">
          <div class="col-6 ">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      <br>
      <div class="form-row">
        <div class="col-6">
          <input type="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Roll Number">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-6">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="col-6">
          <input type="password" class="form-control" placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"><span class="badge badge-success">CONFIRM</span></label>
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
