{% extends "HealthCentre/layout.html" %}

{% block title %}
IITJ Health Centre
{% endblock%}

{% block bodytag %}

  {% load static %}
  <body background="{% static 'HealthCentre/images/i6.jpg' %}" style="background-size: auto auto;">

{% endblock %}

{% block body %}

    <br>

    <h1 style="text-align:center;color:black;" class = "display-4">
      Available Doctors
    </h1>

    <li class="dropdown-divider" style="margin-left:25%;margin-right:25%;border-color:black"></li>

    <br>
    <br>

    {% for doctor in doctors %}
        <div class="row container"style="margin: 0 auto;" >
            <div class="col-sm-12">
                <div class="card"style = "background:rgba(0,0,0,0.8);color:white;">
                    <div class="card-body">

                        <h5 class="card-title">Dr. {{ doctor.name }}</h5>
                        <li class="dropdown-divider"></li>
                        <p class="card-text"><pre style="color:white">Address        : {{ doctor.address }}<br>Email          : {{ doctor.email }}<br>Specialization : {{ doctor.specialization }}</pre></p>
                        <a href="#" class="btn btn-primary">Contact Number : {{ doctor.contactNumber }}</a>

                    </div>
                </div>
            </div>
        </div>

        <br>

    {% empty %}

        <h1 style="text-align:center;color:white" >
            Sorry! No doctors available right now. Please try again later!
        </h1>

    {% endfor %}

{% endblock %}
